.password {
  display: flex;
  flex-direction: column;
}

.password .content-header {
  background-color: #038387;
  order: -1;
  flex: 0 1 60px;
}

.password .content-table {
  margin-top: 10px;
  margin-left: 10px;
  order: 1;
  flex: 1 1 600px;
}

.createButton {
  color: white;
  margin-left: 20px;
  margin-top: 12px;
}

.operationGroup {
  display: flex;
  justify-content: flex-start;
}

.viewButton {
  color: green;
  flex: 0 1 5px;
}

.divider {
  border-right: solid 3px green;
  flex: 0 1 20px;
}

.deleteButton {
  color: green;
  flex: 0 1 80px; 
}

.oneline {
  display: flex;
}

.nameLabel {
  flex: 0 1 auto
}

.copyButton {
  color: green;
}
